* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 17%;
}

.header ul {
    display: flex;
    gap: 25px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.links {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 17%;
    gap: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hero-image-placeholder {
    max-width: 500px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hero-button {
    padding: 8px 35px;
    border-radius: 7px;
    border-width: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    margin-top: 15px;
}

.information {
    padding: 100px 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 230px;
    align-items: center;
}

.card-image {
    width: 90%;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.card-text {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 17%;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 30px;
}

.quote-author {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    margin-right: 40px;
}